In [81]:
position_of_6 = -1
num = 9669
temp_num = num
    
# Traverse the digits from left to right.
for i in range(4, -1, -1):
    # Get the current digit.
    digit = temp_num // (10 ** i)
    print(digit)
    print(i)
    if digit == 6:
        # Store the position of the first "6" digit found.
        position_of_6 = i
        break
    # Remove the processed digit from the number.
    temp_num %= (10 ** i)
print(temp_num)
print(position_of_6)

# if position_of_6 != -1:
#     print (num + 3 * (10 ** position_of_6))
# else:
#     print(num)

0
4
9
3
6
2
669
2

In [1]:
s = "aacc"
t = "ccac"
s= "".join(sorted(s))
t= "".join(sorted(t))
print(s)
print(t)

aacc
accc

In [87]:
9669  / (10**3)

9.669

In [88]:
list_unit_names, list_bedrooms, list_bathrooms, \
    list_rent_prices, list_areas, list_towers, list_floors, \
    list_time_taken, list_facilities_unit, list_facilities_apart, \
    list_conditions, list_estimation_prices = ([] for i in range(12))

In [4]:
list_conditions = 'abacara'
print(list_conditions[1:1:1])

In [ ]:
print (4 * (10 ** 0))
# print(num +300)

In [31]:
num = 9996
temp_num = numdigit = temp_num // (10 ** 0)
print(digit)

6

In [37]:
num = 9996
temp_num = numdigit = temp_num // (10 ** 4)
print(digit)

999

In [66]:
num = 9669
temp_num = num
digit = temp_num // (10 ** 3)
print(digit)

9

In [61]:

def lengthOfLongestSubstring( s):
    seen = {}
    l = 0
    length = 0
    for r in range(len(s)):
        char = s[r]
        print(char)

        if char in seen and seen[char] >= l:
            l = seen[char] + 1
            print("l :",l)
            print("length :",length)

        else:
            length = max(length, r - l +1 )
            print("length :",length)
            print("l :",l)


        seen[char] = r

    return length

In [64]:
obj = lengthOfLongestSubstring("pwwkew")
obj
a = "pwwkew"
a[1:3]

p
length : 1
l : 0
w
length : 2
l : 0
w
l : 2
length : 2
k
length : 2
l : 2
e
length : 3
l : 2
w
l : 3
length : 3

'ww'

In [25]:
strs = ["eat","tea","tan","ate","nat","bat"]
arr = {}

end = 0
while end < (len(strs)):
    arr_temp =[]
    string = "".join(sorted(strs[end]))
    if string not in arr :
         arr_temp.append(strs[end])
         arr[string] =  arr_temp
    else:
         arr_temp.append(strs[end])
         arr[string] +=  arr_temp
    end += 1 
arr= list( arr.values())
print(arr)

[['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat']]

In [34]:
my_pets = ['Alfred', 'Tabitha', 'William', 'Arla']
uppered_pets =   list(map(   str.upper, my_pets))
print(uppered_pets)

['ALFRED', 'TABITHA', 'WILLIAM', 'ARLA']

In [36]:
ada = [1,2,3,4,5]
a = map(lambda x : x*2, ada)
a = list(a)
print(a)


power = lambda x,y : pow(x,y)
print(power(3,4))

[2, 4, 6, 8, 10]
81

In [52]:
items = [
    {"item": "Laptop", "price": 800},
    {"item": "Phone", "price": 500},
    {"item": "Headphones", "price": 100}
]

total_price  =  lambda item : sum(item['price'] for item in items)
print(total_price(items))

1400

In [56]:
numbers = [1, -2, 3, -4, 5, -6, 7, -8, 9, -10]
positive_numbers = filter(lambda x : x> 0, numbers)
print(list(positive_numbers))

[1, 3, 5, 7, 9]

In [2]:
from collections import defaultdict
strs = ["eat","tea","tan","ate","nat","bat"]
map = defaultdict(list)

for  str in strs:
    str_sorted = ''.join(sorted(str))
    map[str_sorted].append(str)
print(list(map.values()))

[['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat']]