In [81]:
position_of_6 = -1
num = 9669
temp_num = num
    
# Traverse the digits from left to right.
for i in range(4, -1, -1):
    # Get the current digit.
    digit = temp_num // (10 ** i)
    print(digit)
    print(i)
    if digit == 6:
        # Store the position of the first "6" digit found.
        position_of_6 = i
        break
    # Remove the processed digit from the number.
    temp_num %= (10 ** i)
print(temp_num)
print(position_of_6)

# if position_of_6 != -1:
#     print (num + 3 * (10 ** position_of_6))
# else:
#     print(num)

0
4
9
3
6
2
669
2

In [1]:
s = "aacc"
t = "ccac"
s= "".join(sorted(s))
t= "".join(sorted(t))
print(s)
print(t)

aacc
accc

In [87]:
9669  / (10**3)

9.669

In [88]:
list_unit_names, list_bedrooms, list_bathrooms, \
    list_rent_prices, list_areas, list_towers, list_floors, \
    list_time_taken, list_facilities_unit, list_facilities_apart, \
    list_conditions, list_estimation_prices = ([] for i in range(12))

In [4]:
list_conditions = 'abacara'
print(list_conditions[1:1:1])

In [ ]:
print (4 * (10 ** 0))
# print(num +300)

In [31]:
num = 9996
temp_num = numdigit = temp_num // (10 ** 0)
print(digit)

6

In [37]:
num = 9996
temp_num = numdigit = temp_num // (10 ** 4)
print(digit)

999

In [66]:
num = 9669
temp_num = num
digit = temp_num // (10 ** 3)
print(digit)

9

In [61]:

def lengthOfLongestSubstring( s):
    seen = {}
    l = 0
    length = 0
    for r in range(len(s)):
        char = s[r]
        print(char)

        if char in seen and seen[char] >= l:
            l = seen[char] + 1
            print("l :",l)
            print("length :",length)

        else:
            length = max(length, r - l +1 )
            print("length :",length)
            print("l :",l)


        seen[char] = r

    return length

In [64]:
obj = lengthOfLongestSubstring("pwwkew")
obj
a = "pwwkew"
a[1:3]

p
length : 1
l : 0
w
length : 2
l : 0
w
l : 2
length : 2
k
length : 2
l : 2
e
length : 3
l : 2
w
l : 3
length : 3

'ww'

In [25]:
strs = ["eat","tea","tan","ate","nat","bat"]
arr = {}

end = 0
while end < (len(strs)):
    arr_temp =[]
    string = "".join(sorted(strs[end]))
    if string not in arr :
         arr_temp.append(strs[end])
         arr[string] =  arr_temp
    else:
         arr_temp.append(strs[end])
         arr[string] +=  arr_temp
    end += 1 
arr= list( arr.values())
print(arr)

[['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat']]

In [34]:
my_pets = ['Alfred', 'Tabitha', 'William', 'Arla']
uppered_pets =   list(map(   str.upper, my_pets))
print(uppered_pets)

['ALFRED', 'TABITHA', 'WILLIAM', 'ARLA']

In [36]:
ada = [1,2,3,4,5]
a = map(lambda x : x*2, ada)
a = list(a)
print(a)


power = lambda x,y : pow(x,y)
print(power(3,4))

[2, 4, 6, 8, 10]
81

In [52]:
items = [
    {"item": "Laptop", "price": 800},
    {"item": "Phone", "price": 500},
    {"item": "Headphones", "price": 100}
]

total_price  =  lambda item : sum(item['price'] for item in items)
print(total_price(items))

1400

In [56]:
numbers = [1, -2, 3, -4, 5, -6, 7, -8, 9, -10]
positive_numbers = filter(lambda x : x> 0, numbers)
print(list(positive_numbers))

[1, 3, 5, 7, 9]

In [2]:
from collections import defaultdict
strs = ["eat","tea","tan","ate","nat","bat"]
map = defaultdict(list)

for  str in strs:
    str_sorted = ''.join(sorted(str))
    map[str_sorted].append(str)
print(list(map.values()))

[['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat']]

In [11]:
num_part =10
num_of_rows =12455654
aa = num_of_rows // 10
aa_mod = num_of_rows % 10
for i in range(10):
    i += 1
    if i != num_part and i ==1:
        print("process {} :  numbers of  cont_id {}".format(i, aa))
        df_partisi =  df.limit(aa).
        print("process {} :  numbers of  cont_id {} Finisihed".format(i, aa))
    elif i != num_part and i !=1:
        print("process {} :  numbers of  cont_id {}".format(i, aa))
        df_partisi =  df.limit(aa).
        print("process {} :  numbers of  cont_id {} Finisihed".format(i, aa))
    else:
        print("process {} : numbers of  cont_id {}".format(i,aa_mod))
        print("process {} :  numbers of  cont_id {} Finisihed".format(i, aa_mod))


print("finished 100%")

process 1 :  numbers of  cont_id 1245565
process 1 :  numbers of  cont_id 1245565 Finisihed
process 2 :  numbers of  cont_id 1245565
process 2 :  numbers of  cont_id 1245565 Finisihed
process 3 :  numbers of  cont_id 1245565
process 3 :  numbers of  cont_id 1245565 Finisihed
process 4 :  numbers of  cont_id 1245565
process 4 :  numbers of  cont_id 1245565 Finisihed
process 5 :  numbers of  cont_id 1245565
process 5 :  numbers of  cont_id 1245565 Finisihed
process 6 :  numbers of  cont_id 1245565
process 6 :  numbers of  cont_id 1245565 Finisihed
process 7 :  numbers of  cont_id 1245565
process 7 :  numbers of  cont_id 1245565 Finisihed
process 8 :  numbers of  cont_id 1245565
process 8 :  numbers of  cont_id 1245565 Finisihed
process 9 :  numbers of  cont_id 1245565
process 9 :  numbers of  cont_id 1245565 Finisihed
process 10 : numbers of  cont_id 4
process 10 :  numbers of  cont_id 4 Finisihed
finished 100%

In [44]:
partition_size = 10
total_rows = 100
def query_raw (start, end):
    a = """ with cte as (
      select  cont_id from a where row_number between {} and {})

    select * from final  a
    inner join cte  b 
     on a.cont_id = b.cont_id
     join idaaa
     join aa
    
    """.format(start,end)
   
    return a
i =0
while i < total_rows:
    # Calculate the start and end row number for the current partition
   if i == 10:
        start  = i
        end  = i+10
        query = query_raw(start,end)
        print(query)
        write 
   else :
        start  = i+1
        end  = i+10
        query = query_raw(start,end)
        print(query)
        write
   i += 10

 with cte as (
      select  cont_id from a where row_number between 1 and 10)

    select * from final  a
    inner join cte  b
     on a.cont_id = b.cont_id
     join idaaa
     join aa

NameError: name 'write' is not defined

In [33]:
string=  '{['
stack = []
pair_hash_map = {"(": ")", "{":"}","[":"]"}
for char in   string:
    if   char in pair_hash_map:
        stack.append(char)
    elif len(stack) == 0 or pair_hash_map[stack.pop()] != char:
        return False
return  len(stack) == 0

True
False

In [35]:
string=  '}'
stack = []
pair_hash_map = {"(": ")", "{":"}","[":"]"}
 
if   string in pair_hash_map:
    print('s')